<!DOCTYPE html>
<html>
<head>
  <title>Travel Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
  </script>
  <script defer src="/_vercel/insights/script.js"></script>
</head>
<body>
  <h1>Ancient Rome Travel Blog!!</h1>
  
  <div class="about-me">
    <img src="/data/photos/about.jpg" alt="About Me Photo" class="about-me-photo">
    <div class="about-me-content">
      <h2>About Me</h2>
      <p>Salve! My name is Tiberius Vettianus Flaccus and I am a messenger of the Roman Empire. Join my travels of southwestern Italy as I deliver a very important message. Now is the perfect time to travel around the Roman Empire because our Emperor Augustus has promised peace and prosperity!</p>
    </div>
  </div>

  <ul>
    <% posts.forEach((post) => { %>
      <li class="post-preview">
        <div class="content">
          <h2><a href="/post/<%= post.id %>"><%= post.title %></a></h2>
          <p><em><%= post.date %></em></p>
          <p>How to get there: <%= post.howToGetThere.substring(0, 81) %>...</p>
          <p>Customs: <%= post.customs.substring(0, 91) %>...</p>
          <p>Hotel Info: <%= post.hotelInfo.substring(0, 88) %>...</p>
          <p>History: <%= post.history.substring(0, 88) %>...</p>
          <p>Where to Eat: <%= post.whereToEat.substring(0, 88) %>...</p>
        </div>
        <img src="/data/photos/<%= post.mapImage %>" alt="Map Image" class="map-image">
      </li>
    <% }) %>
  </ul>
</body>
</html>